<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find nti_autonet_2021_car_sim)/urdf/vehicle_v1.xacro'" />
    <rosparam file="$(find nti_autonet_2021_car_sim)/config/control.yaml" command="load" />

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/vehicle_v1" args="front_left_rev_controller front_right_rev_controller 
    front_left_cont_controller front_right_cont_controller joint_state_controller" />

    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="0.2" />

    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model vehicle_v1 -x $(arg x) -y $(arg y) -z $(arg z)" />
    <!--0 -0.1 0.2" rpy="0 0.5 0  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

</launch>
